*{
    margin: 0 40px;
    padding: 40px 0;
    }
.cabecalho {
    width: 95.5%;
    background-color: #1403d5;
    color :white;
    display:flex;
    justify-content: space-around;
    padding:40 px 0;
}
.cabecalho-imagem{
    width: 25%;
    }
.cabecalho-lista-item{
    display:inline-block;
    }
.cabecalho-lita-item{
    display: inline-block;
    margin:0 40px;
    padding:40 px 0;
    font-size: 40px;
    }
    .escola-imagem{
        width: 25%;
    }
    .escola{
        background-image: linear-gradient(#383d58,#00c0eb);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
        } 
    .escola-conteudo{
         width: 35%;
    }
    .escola-titulo{
        padding: 24px 0;
    }
    
